<div class="navbar navbar-default" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="home" class="navbar-brand" title="{{ site.name }}" href="/">{{ site.name }}</a>
    </div>

    <div class="collapse navbar-collapse">
      <div class="menu-site-navigation-container">
        <ul id="menu-site-navigation" class="nav navbar-nav">
        {% for weight in (0..10) %}
          {% for p in site.pages %}
            {% if p.weight == weight %}
              {% if p.url == page.url %}
                <li class="current-menu-item">
                  <a href="{{ p.url }}">{{ p.page_name }}</a>
                </li>
              {% else %}
                <li>
                  <a href="{{ p.url }}">{{ p.page_name }}</a>
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endfor %}
        </ul>
      </div>
    </div>

  </div>
</div>
